# macOS
.DS_Store

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/

# Generated platform artifacts
**/ephemeral/
**/.plugin_symlinks/
__MACOSX/
android/.gradle/
android/.kotlin/
android/app/.cxx/
ios/.symlinks/
ios/Pods/
ios/build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
linux/flutter/generated_plugin_registrant.*
linux/flutter/generated_plugins.cmake
macos/Flutter/ephemeral/
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake

# IDE
.idea/
*.iml
